#luzon,#visayas,#mindanao{
    display:flex;
    flex-direction:column;
    gap: 5rem;
}
.welcome-luzon,.welcome-visayas,.welcome-mindanao{
    font-size: 4rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, #c29d93, #faf757,
    rgb(228, 54, 54), rgb(53, 53, 221));
    -webkit-background-clip: text;
    color: transparent;
    background-clip:text;
    background-size:300%;
    background-position: -100%;
    animation: gradient-animation 10s infinite alternate-reverse;
}

.luzon-container,.visayas-container,.mindanao-container{
    display:flex;
    flex-direction:row;
    gap: 2rem;
}
.luzon-pic,.visayas-pic,.mindanao-pic{
    width:40rem;
    border-radius:1rem;
}
.description-luzon,.description-visayas,.description-mindanao{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 40rem;
}
.luzon-pic-container,.visayas-pic-container,.mindanao-pic-container{
    position: relative;

}

.luzon-pic-container a,.visayas-pic-container a,.mindanao-pic-container a{
    text-decoration: none;

}
.view-foods1{
    position:absolute;
    display: flex;
    bottom: -12px;
    justify-content: center;
    bottom: -0.5rem;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgb(0, 0, 255);
    padding: 8px;
    border-radius:8px;
    color:white;
}
.view-foods2{
    position:absolute;
    display: flex;
    bottom: -12px;
    justify-content: center;
    bottom: -0.5rem;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgb(255, 0, 0);
    padding: 8px;
    border-radius:8px;
    color:white;
}

.view-foods3{
    position:absolute;
    display: flex;
    bottom: -12px;
    justify-content: center;
    bottom: -0.5rem;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgb(252, 255, 71);
    color:rgb(0, 0, 0);
    padding: 8px;
    border-radius:8px;
}

.luzon-pic{
    box-shadow: 0px 2px 5px rgba(250, 249, 249, 0.973);
}
.visayas-pic{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.973);
}
.mindanao-pic{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.973);
}

.luzon-pic,.visayas-pic,.mindanao-pic{
    transition: transform 0.3s ease;
}
.luzon-pic:hover,.visayas-pic:hover,.mindanao-pic:hover{
    transform: scale(1.05);
}




@keyframes gradient-animation {
    from{
        background-position:0%;
    }
to{
    background-position: 100%
    }
  
} 

@media (max-width:500px){
    .welcome-luzon,.welcome-visayas,.welcome-mindanao{
        font-size:3rem;
    }
    .luzon-container,.visayas-container,.mindanao-container{
        flex-direction: column;
        align-items: center;
        
    }
    .luzon-pic,.visayas-pic,.mindanao-pic{
        width:20rem;
        border-radius:0.5rem;

    }
    .description-luzon,.description-visayas,.description-mindanao{
        font-size:0.75rem;
        width: 80vw;
    }
    #luzon,#visayas,#mindanao{
        overflow:hidden;
        gap:0.5rem;
    }
}
